footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background-color: var(--third-bg-color);
  color: white;
  padding: 4rem 2rem;

  h3 {
    font-family: 'Cormorant', serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .footer-header {
    h3 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }
  .footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;

    div {
      // flex: 1;
      min-width: 280px;

      strong {
        display: block;
        margin-bottom: 0.5rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;
          font-weight: 300;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.1rem;

          .material-icons-outlined {
            font-size: 1.5rem;
            vertical-align: middle;
          }

          a {
            color: white;
            text-decoration: none;
            transition: color 0.3s;
            font-weight: 300;
            font-size: 1.1rem;

            &:hover {
              color:#819b47;
            }
          }
        }
      }
    }

    .links {
      strong {
        font-family: 'Cormorant', serif;

        font-size: 1.4rem;
        margin-bottom: 2.5vh;
      }

      li {
        margin-bottom: 0.5rem;
        font-weight: 300;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .material-icons-outlined {
          font-size: 1.2rem;
          vertical-align: middle;
        }

        a {
          color: white;
          text-decoration: none;
          transition: color 0.3s;
          font-weight: 300;
        }
      }

      p {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.8rem;
        font-size: 1rem;
        text-wrap: wrap;
        text-overflow: ellipsis;

        .material-icons-outlined {
          font-size: 1.5rem;
          vertical-align: middle;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    width: 60vw;
    font-size: 1rem;
    border-top: 1px solid #ffffff33;
    padding-top: 1rem;

    @media (max-width: 768px) {
      width: 90vw;
    }
  }
}