<div class="page-wrapper">
    <a class="header" href="/">
      <img src="assets/logo_white.svg" alt="Logo Sementes da Amazônia" class="navbar-logo" style="height: 50px; vertical-align: middle;">
    </a>

    <section>
        <nav class="tab-switch">
            <button (click)="changeTab('news')" [ngClass]="{
                'active': tab === 'news'
            }">
                Adicionar notícia
            </button>
            <button (click)="changeTab('projects')" [ngClass]="{
                    'active': tab === 'projects'
                }">
                Adicionar projeto
            </button>
        </nav>

        <main>
            <ng-container [ngSwitch]="tab">
                <app-news *ngSwitchCase="'news'"></app-news>
                <app-projects *ngSwitchCase="'projects'"></app-projects>
            </ng-container>
        </main>
    </section>
</div>