.news {
    padding: 4rem 2rem;
    background-color: var(--primary-bg-color);

    h2 {
        font-family: Playfair Display, serif;
        color: var(--primary-text-color);
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;
        margin-bottom: 2rem;
    }

    button {
        display: block;
        margin: 0 auto;
        padding: 0.75rem 1.5rem;
        background-color: #014421;
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;

        &:hover {
            background-color: #026440;
        }
    }
}