<div class="form-container">
  <h2>{{ news ? 'Editar notícia' : 'Nova notícia' }}</h2>
  <p class="subtitle">Preencha as informações abaixo para criar uma nova publicação.</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="column">
        <label>
          Título da notícia *(Obrigatório)
          <input type="text" formControlName="title" placeholder="Digite um título claro e direto" />
        </label>

        <label>
          Resumo *(Obrigatório)
          <textarea rows="10" formControlName="summary"
            placeholder="Escreva um breve resumo para destacar os principais pontos da notícia"></textarea>
        </label>

        <label>
          <!-- Projects / News form -->
          <app-calendar-date formControlName="published_at" [label]="'Data de publicação'" [allowEmpty]="true"
            [yearSpan]="11">
          </app-calendar-date>

        </label>

        <label>
          Autor (opcional)
          <input type="text" formControlName="author" placeholder="Nome do autor da notícia" />
        </label>

        <label>
          Tags (opcional)
          <input type="text" formControlName="tags" placeholder="Ex: floresta, impacto, comunidade" />
        </label>

        <div class="custom-file-container">
          <label>Imagem da capa *(Obrigatório)*</label>
          <!-- Preview da imagem -->
          <div *ngIf="imagePreviewUrl || news?.image_thumb" class="image-preview">
            <p>Prévia da imagem:</p>
            <div class="image-container">
              <button (click)="removeImage($event)" class="remove-button">X</button>
              <img [src]="imagePreviewUrl || news?.image_thumb" alt="Prévia da imagem"
                style="max-width: 100%; max-height: 200px; border-radius: 8px;" />
            </div>
            <br />
            <div>
              <small>{{ (news && !image_thumb?.name) ? news.image_thumb : image_thumb?.name }}</small>
            </div>
          </div>

          <label class="custom-file-label">


            <p>Escolha uma imagem que represente a notícia.</p>
            <div>
              <input type="file" accept="image/*" (change)="onFileChange($event)" />
              <span class="choose-file">Escolher arquivo</span>
            </div>
          </label>
        </div>


      </div>

      <div class="column">
        <label>
          Conteúdo completo *(Obrigatório)
          <textarea formControlName="content" placeholder="Digite aqui o texto principal da notícia"
            rows="15"></textarea>
        </label>
      </div>
    </div>

    <div class="actions">
      <button type="submit" [disabled]="form.invalid || !publishedAt" class="submit-button">
        {{ news ? 'Atualizar notícia' : 'Publicar notícia' }}
      </button>
      <button type="button" class="clear" (click)="clearForm()">
        Limpar tudo
      </button>
    </div>
  </form>
</div>