<div class="form-container">
  <h2>Nova notícia</h2>
  <p>Preencha as informações abaixo para criar uma nova publicação.</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="column">
        <label>
          Título da notícia *(Obrigatório)
          <input type="text" formControlName="title" placeholder="Digite um título claro e direto" />
        </label>

        <label>
          Resumo *(Obrigatório)
          <textarea formControlName="summary"
            placeholder="Escreva um breve resumo para destacar os principais pontos da notícia"></textarea>
        </label>

        <label>
          <!-- Projects / News form -->
          <app-calendar-date formControlName="published_at" [label]="'Data de publicação'" [allowEmpty]="true"
            [yearSpan]="11">
          </app-calendar-date>

        </label>

        <label>
          Autor (opcional)
          <input type="text" formControlName="author" placeholder="Nome do autor da notícia" />
        </label>

        <label>
          Tags (opcional)
          <input type="text" formControlName="tags" placeholder="Ex: floresta, impacto, comunidade" />
        </label>

        <label class="custom-file-label">
          Imagem da capa *(Obrigatório)
          <!-- Preview da imagem -->
          <div *ngIf="imagePreviewUrl" class="image-preview">
            <p>Prévia da imagem:</p>
            <img [src]="imagePreviewUrl" alt="Prévia da imagem"
              style="max-width: 100%; max-height: 200px; border-radius: 8px;" />
            <br />
            <small>{{ image_thumb?.name }}</small>
          </div>
          <p>Escolha uma imagem que represente a notícia.</p>
          <input type="file" (change)="onFileChange($event)" />
          <span>Escolher arquivo</span>
        </label>
      </div>

      <div class="column">
        <label>
          Conteúdo completo *(Obrigatório)
          <textarea formControlName="content" placeholder="Digite aqui o texto principal da notícia"
            rows="12"></textarea>
        </label>
      </div>
    </div>

    <div class="actions">
      <button type="submit" [disabled]="form.invalid && !publishedAt" class="gray">
        Publicar notícia
      </button>
      <button type="button" class="clear" (click)="clearForm()">
        Limpar tudo
      </button>
    </div>
  </form>
</div>