<!-- about.component.html -->
<section class="about">
  <div class="text">
    <h2>Protegendo nosso meio ambiente para gerações futuras</h2>
    <p>
      A Associação Sem Fins Lucrativos é uma organização dedicada à conservação ambiental, desenvolvimento sustentável e
      educação comunitária. Desde nossa fundação em 2005, estamos na linha de frente da proteção dos recursos naturais e
      promoção da conscientização ecológica.
      <br>
      <br>
      Por meio de projetos colaborativos, iniciativas educacionais e trabalho de advocacia, nos esforçamos para criar um
      mundo onde pessoas e natureza prosperem juntas. Nossa equipe de especialistas trabalha incansavelmente em projetos
      de conservação, pesquisa e engajamento comunitário para garantir um futuro sustentável para todos.

    </p>
    <div class="buttons">
      <button>Saiba mais sobre nós</button>
      <button>Conheça nossos projetos</button>
    </div>
  </div>
  <div class="image">
    <img src="../../../assets/amazon_forest_2.png" alt="Floresta" />
  </div>
</section>