<!-- impact.component.html -->
<section class="impact">
  <h2>Nosso impacto</h2>
  <div class="stats">
    <div class="stat">
      🌍
      <strong>+ 500 mil</strong>
      <p>+ 500 mil</p>
    </div>
    <div class="stat">
      📣
      <strong>+ 100</strong>
      <p>+ 500 mil</p>
    </div>
    <div class="stat">
      🧑
      <strong>+ 50</strong>
      <p>+ 500 mil</p>
    </div>
    <div class="stat">
      🌱
      <strong>+ 20 mil</strong>
      <p>+ 500 mil</p>
    </div>
  </div>
</section>
