<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-title">Sementes da Amazônia</div>

    <ul class="navbar-links">
      <li class="dropdown">
        <span class="link">
          <span class="arrow">&#9662;</span>
          Sobre nós
        </span>
        <!-- Submenu opcional -->
        <!-- <ul class="dropdown-menu">
          <li><a href="#">Missão</a></li>
          <li><a href="#">Equipe</a></li>
        </ul> -->
      </li>
      <li><a href="#">Notícias</a></li>
      <li><a href="#">Projetos</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </div>
</nav>
