<div class="form-container">
  <h2>{{ project ? 'Editar projeto' : 'Novo projeto' }}</h2>
  <p>Preencha os dados abaixo para cadastrar um novo projeto.</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="column">
        <label>
          Nome do projeto *(Obrigatório)
          <input type="text" formControlName="title" placeholder="Digite um título claro e direto" />
        </label>

        <label>
          Resumo *(Obrigatório)
          <textarea formControlName="summary"
            placeholder="Escreva um breve resumo para destacar os principais pontos do projeto"></textarea>
        </label>

        <label>
          <!-- Projects / News form -->
          <app-calendar-date formControlName="published_at" [label]="'Data de publicação'" [allowEmpty]="true"
            [yearSpan]="11">
          </app-calendar-date>

        </label>

        <label>
          Autor (opcional)
          <input type="text" formControlName="author" placeholder="Nome do autor do projeto" />
        </label>
        <div class="custom-file-container">
          <label>Imagem da capa *(Obrigatório)*</label>
          <!-- Preview da imagem -->
          <div *ngIf="imagePreviewUrl || project?.image_thumb" class="image-preview">
            <p>Prévia da imagem:</p>
            <div class="image-container">
              <button (click)="removeImage($event)" class="remove-button">X</button>
              <img [src]="imagePreviewUrl || project?.image_thumb" alt="Prévia da imagem"
                style="max-width: 100%; max-height: 200px; border-radius: 8px;" />
            </div>
            <br />
            <div>
              <small>{{ (project && !image_thumb?.name) ? project.image_thumb : image_thumb?.name }}</small>
            </div>
          </div>

          <label class="custom-file-label">
            <p>Escolha uma imagem que represente a notícia.</p>
            <div>
              <input type="file" accept="image/*" (change)="onFileChange($event)" />
              <span class="choose-file">Escolher arquivo</span>
            </div>
          </label>
        </div>


      </div>

      <div class="column">
        <label>
          Descrição completa *(Obrigatório)
          <textarea formControlName="content" rows="14"
            placeholder="Conte em detalhes sobre o projeto, objetivos, processo e resultados."></textarea>
        </label>
      </div>
    </div>

    <div class="actions">
      <button type="submit" [disabled]="form.invalid || !publishedAt" class="submit-button">
        {{ project ? 'Atualizar projeto' : 'Publicar projeto' }}
      </button>
      <button type="button" class="clear" (click)="clearForm()">
        Limpar tudo
      </button>
    </div>
  </form>
</div>