<!-- hero.component.html -->
<section class="hero">
    <div class="overlay">
        <div class="content">
        <span class="tag">Novo</span>
        <h1>Protegendo nosso meio ambiente para gerações futuras</h1>
        <p>A Associação Sem Fins Lucrativos é uma organização dedicada à conservação ambiental, desenvolvimento
            sustentável e educação comunitária. Desde nossa fundação em 2005, estamos na linha de frente da proteção dos
            recursos naturais e promoção da conscientização ecológica.</p>
        <div class="buttons">
            <button class="read-more">Leia mais</button>
            <button class="see-news">Veja outras notícias</button>
        </div>
    </div>
    </div>
</section>