:host {
  display: block;
  padding-top: 100px;
  background-color: var(--primary-bg-color);
}

.article-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  min-height: calc(100vh - 100px);
  line-height: 1.6;
  color: var(--primary-text-color);

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--third-text-color);
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}


@media (max-width: 480px) {
  .article-container {
    padding: 1rem 0.75rem;
  }
}

.article-container {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}