<!-- featured-project.component.html -->
<section id="featured-project" class="featured-project">
  <div class="container">
    <div class="text">
      <div class="badges">
        <span class="badge">Alto impacto</span>
        <span class="badge">Foco atual</span>
      </div>
      <h3>{{ project?.title ? project?.title :  'Projeto Petrobrás'}}</h3>
      <p>Temos o orgulho de anunciar nossa colaboração com a Petrobras em uma iniciativa inovadora de restauração
        ambiental. Este projeto visa restaurar ecossistemas degradados enquanto proporciona meios de subsistência
        sustentáveis para as comunidades locais.</p>
      <button (click)="readAboutProject(project?.id)">Conheça o projeto</button>
    </div>
    <div class="image">
      <img [src]="imagePath" (load)="onImageLoad($event)" (error)="handleImageError($event)" alt="Projeto" />
    </div>
  </div>
</section>