<header class="article-header">
  <h1 class="article-title">{{ project?.title }}</h1>
  <div class="article-meta">
    <span>{{ project?.author?.length ? 'Por ' + project?.author : 'Sem autor' }} - {{ formattedDate }}</span>
  </div>

  <div *ngIf="images.length > 1" class="article-carousel">
    <button class="nav-button nav-button-left" (click)="previousImage()" aria-label="Imagem anterior">
      <i class="pi pi-chevron-left"></i>
    </button>

    <button class="nav-button nav-button-right" (click)="nextImage()" aria-label="Próxima imagem">
      <i class="pi pi-chevron-right"></i>
    </button>

    <div class="carousel-indicators">
      <button *ngFor="let image of images; let i = index" class="indicator" [class.active]="i === currentImageIndex"
        (click)="goToSlide(i)" [attr.aria-label]="'Ir para imagem ' + (i + 1)">
      </button>
    </div>

    <p-carousel #imageCarousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true"
      [showNavigators]="false" [showIndicators]="false" [autoplayInterval]="5000" (onPage)="onPageChange($event)">
      <ng-template pTemplate="item" let-image>
        <div class="carousel-item">
          <img [src]="image.src" [alt]="image.alt" class="carousel-image">
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div *ngIf="images.length < 2" class="article-carousel">
    <div class="carousel-item">
      <img [src]="images[0].src" [alt]="images[0].alt" class="carousel-image">
    </div>
  </div>
</header>

<main class="article-content">

  <h3>
    <ng-container *ngIf="project?.summary; else noSummary">{{ project?.summary }}</ng-container>
    <ng-template #noSummary>
      <span class="no-summary">Sem resumo registrado.</span>
    </ng-template>
  </h3>
  <br>
  <p *ngFor="let paragraph of project?.content?.split('<br>')" class="article-paragraph">
    <span *ngIf="paragraph.length; else noContent" [innerHTML]="sanitizeTextHtml(paragraph)"></span>
    <ng-template #noContent>
      <span class="no-content">Sem conteúdo registrado.</span>
    </ng-template>
  </p>
</main>


<footer class="article-footer">
  <div class="footer-content">
    <div class="footer-left">
      <span>Publicado em {{ formattedDate }}</span>
    </div>
    <div class="footer-right">
      <button class="share-button" (click)="shareArticle()" title="Compartilhar artigo">
        <mat-icon>share</mat-icon>
        <span>Compartilhar</span>
      </button>
    </div>
  </div>
</footer>