<!-- impact.component.html -->
<section class="impact">
  <h2>Nosso impacto</h2>
  <p class="newsLabel">Últimas notícias</p>
  <div class="stats">
    <div class="stat">
      <div class="circle-icon">

        <img src="../../../assets/language.svg" alt="">
      </div>
      <strong>+ 500 mil</strong>
      <p>+ 500 mil</p>
    </div>
    <div class="stat">
      <div class="circle-icon">

        <img src="../../../assets/campaign.svg" alt="">
      </div>
      <strong>+ 100</strong>
      <p>+ 500 mil</p>
    </div>
    <div class="stat">
      <div class="circle-icon">
        <img src="../../../assets/people.svg" alt="">
      </div>
      <strong>+ 50</strong>
      <p>+ 500 mil</p>
    </div>
    <div class="stat">
      <div class="circle-icon">
        <img src="../../../assets/spa.svg" alt="">
      </div>

      <strong>+ 20 mil</strong>
      <p>+ 500 mil</p>
    </div>
  </div>
</section>