footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  background-color: var(--third-bg-color);
  color: white;
  padding: 4rem 2rem;

  h3 {
    font-family: Playfair display, serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  .footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;

    div {
      flex: 1;
      min-width: 200px;

      strong {
        display: block;
        margin-bottom: 0.5rem;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 0.5rem;
          font-weight: 300;

          a {
            color: white;
            text-decoration: none;
            transition: color 0.3s;
            font-weight: 300;

            &:hover {
              color: var(--primary-text-color);
            }
          }
        }
      }
    }

    .links {
      strong {
        font-family: Playfair Display, serif;
        font-size: 1.4rem;
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.85rem;
    border-top: 1px solid #ffffff33;
    padding-top: 1rem;
  }
}