<!-- footer.component.html -->
<footer id="footer">
  <div class="footer-header">
    <h3>Sementes da Amazônia</h3>
    <p>Trabalhando juntos por um futuro sustentável e proteção dos nossos recursos naturais.</p>
  </div>
  <div class="footer-sections">
    <div class="links">
      <strong>Links rápidos</strong>
      <ul>
        <li>
          <a href="#">Início</a>
        </li>
        <li>
          <a href="#">Sobre nós</a>
        </li>
        <li>
          <a href="#">Projetos</a>
        </li>
        <li>
          <a href="#">Contato</a>
        </li>
      </ul>
    </div>
    <div class="links">
      <strong>Recursos</strong>
      <ul>
        <li>
          <a href="#">
            Áreas de atuação
          </a>
        </li>
        <li>
          <a href="#">
            Parcerias
          </a>
        </li>
        <li>
          <a href="#">
            Politicas de privacidade
          </a>
        </li>
      </ul>
    </div>
    <div class="links">
      <strong>Entre em contato</strong>
      <p>
        <span class="material-icons-outlined">place</span>
        Av. da Conservação 123, Distrito da Floresta
      </p>
      <p>
        <span class="material-icons-outlined">phone</span>
        +55 11 1234-5678
      </p>
      <p>
        <span class="material-icons-outlined">email</span>
        contato&#64;associacaosemfinslucrativos.org
      </p>
    </div>
  </div>
  <p class="copyright">
    © 2025 Sementes da Amazônia. Todos os direitos reservados.
  </p>
</footer>