/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {

    --primary-bg-color: #F6F8ED;
    --second-bg-color: #F6F4F0;
    --third-bg-color: #4D5F2C;
    --fourth-bg-color: #819B47;
    --fifth-bg-color: #E9EFD8;

    --primary-text-color: #4D5F2C;
    --second-text-color: #58443B;
    --third-text-color: #656565;
}